[submodule "extern/fabm"]
	path = extern/fabm
	url = git@github.com:fabm-model/fabm.git
[submodule "extern/eat"]
	path = extern/eat
	url = https://github.com/BoldingBruggeman/eat.git
[submodule "extern/code"]
	path = extern/gotm
	url = https://github.com/gotm-model/code.git
[submodule "extern/parsac"]
	path = extern/parsac
	url = https://github.com/inogs/parsac.git
[submodule "extern/bfmforfabm"]
	path = extern/ogs
	url = git@github.com:inogs/bfmforfabm.git
[submodule "extern/fabm-spectral"]
	path = extern/fabm-spectral
	url = https://github.com/pmlmodelling/fabm-spectral.git
[submodule "setups/setup_BFM1D_BOUSSOLE"]
	path = setups/setup_BFM1D_BOUSSOLE
	url = git@github.com:gocchipintive/setup_BFM1D_BOUSSOLE.git
